<p>The seller has answered your question regarding <%= @listing_title %>:</p>
<p>Your Question:</p>
<p><%= @question %></p>
<p>The seller's anwswer:</p>
<p><%= @answer %></p>
<p>Thanks for using Haggle Free Victoria and have a great day!</p>