<h1>There has been a change in a bid that you received for your listing: <%= @listing_title %></h1>

<h2><%= @bidder %> has changed their bid to: <%= number_to_currency(@price) %></h2>

<p>Thanks for using Haggle Free Victoria and have a great day!</p>