<h1>Hi <%= @user.first_name %></h1>

<p>A potential buyer has asked just asked a question about your listing with the title <%= @listing.title %></p>

<p>You can click <%= link_to "here", @listing %> to answer the question.</p>

<p>Thanks for using Haggle Free Victoria and have a great day!</p>