<div id="bids-table">
	<h3>Your current active bids/offers:</h3>
	<table>
		<tr>
			<th class="listing-title">Listing</th>
			<th>Type</th>
			<th>Price</th>
			<th>Status</th>
			<th></th>
		</tr>
		<%= render 'shared/bids', collection: @bids %>
	</table>
</div>