<div id="bids-table">
  <h3>Here are the bids for <%= @listing.title %>:</h3>
	<table>
		<tr>
			<th class="listing-title">Listing</th>
			<th>Type</th>
			<th>Price</th>
			<th>Status</th>
			<th></th>
		</tr>
		<%= render 'shared/bids', bids: @bid_manager.bids %>
	</table>
</div>
