<% bids.each do |bid| %>
	<tr>
		<td><%= link_to bid.listing.title, listing_path(bid.listing) %></td>
		<% if bid.listing.auction? %>
			<td>Bid</td>
		<% else %>
			<td>Offer</td>
		<% end %>
		<td><%= number_to_currency(bid.price) %></td>
		<% if bid.listing.end_date > DateTime.now %>
			<td>Active</td>
			<td><%= button_to "Delete", bid_path(bid), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button"  %></td>
			<% if bid.listing.auction? %>
				<td><%= button_to "Edit", edit_bid_path(bid), method: :get, class: "button-normal"  %></td>
			<% end %>
		<% else %>
			<td>Listing recently ended.</td>
		<% end %>
	</tr>
<% end %>