
<%= content_tag :div, id: "new-subcategory-form" do %>
	<% end %>
	<div id="new-subcategory-form"></div>
<div id="all-categories-list">	
	<%= render 'display', categories: @categories, subcategories: @subcategories %>
</div>
<div id="admin-options">
	<% if admin? %>

	<% end %>
</div>


