// Place all the styles related to the Image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#adding-pictures,
#image-crop {
	clear: both;
	margin-left: 25px;
	.button-large {
		margin-top: 25px;
	}
	.all-thumbnails {
		display: inline-block;
		width: 150px;
		height: 170px;
		text-align: center;
		
	}
}