<div id="welcome-header">
	<ul id="welcome-menu">
		<li><%= link_to "SIGN UP", new_user_path  %></li>
		<li><%= link_to "LOG IN", login_path  %></li>	
		<li><%= link_to "BROWSE LISTINGS", sub_categories_path %></li>	
		<li><%= link_to "ABOUT", '#' %></li>	
	</ul>
	<div id="welcome-message">
		<p class="center">Whether you're buying or selling used items in Victoria...</p>
		<p class="center">Make it a Haggle Free day!</p>
	</div><!-- logo -->
</div> <!-- header -->